@use 'src/common/styles/mixins';

.darkBlueBlock {
    background: #003266;
    padding: 24px 12px;
    border-radius: 12px;
    @include mixins.flex($direction: column);
    gap: 24px;
}

.headerFooter {
    padding: 24px 0;
    width: 100%;
    @include mixins.flex($direction: column,  $alignItems: center);
}