@use 'src/common/styles/mixins';

.header {

    img {
        margin-bottom: 24px;
    }

    .buttonsGroup {
        @include mixins.flex();
        gap: 8px;

        button {
            padding: 11px 24px;
            border-radius: 11px;
            border: none;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 0.56px;
            box-shadow: 0 10px 20px rgba(250, 65, 0, 0.4);
        }

        button:nth-child(1) {
           background-color: #4892E2;
        }

        button:nth-child(2) {
            background-color: #FA6B00;
        }
    }
}